<!DOCTYPE html>
<html>
  <head>
    <title>Kauri Styles</title>
            <link href="style.css" rel="stylesheet" type="text/css">
  </head>
    <body>

      <div id='pageContainer'>
        <ul>
          <h1>KAURI</h1>
          <li><a href="#" class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-shopping-cart"></span>Trolley</a>
        <li><a href="/form">Sign in</a></li>
        <li><a href="/form">New Seller</a></li>
        <li><a href="/form">Buying</a></li>
        <li><a class="active" href="/form">Home</a></li>
        </ul>
      </div><br><br>
    <form>
      <input type= 'text' name='search' placeholder="Search..">

  </body>
</html>
