<h1>Form</h1>
<a href="/">Go Home</a><br><br>
<form action="/form" method="post">
  First name and Last Name:<br>
  <input type="text" name="name"><br><br>
  Email:<br>
  <input type="text" name="Email"><br><br>
  Create a Store name:<br>
  <input type="text" name="Name of your store"><br><br>
  Create Username:<br>
  <input type="text" name="Create Username"><br><br>
  Password:<br>
  <input type="password" name="Password"><br><br>
  Upload images of products to sell:<br>
  <br><input type="file" id="multifile" name="photos[]" multiple />
      <button type="submit" id="upload-button">Upload</button><br><br>
  <br><button type="submit">Submit</button>
</form>
