<h1>Form</h1>
<a href="/">Go Home</a><br><br>
<form action="/form" method="post">
  First name:<br>
  <input type="text" name="name"><br><br>
  Surname:<br>
  <input type="text" name="surname"><br><br>
  Email:<br>
  <input type="text" name="Email"><br><br>
  Contact:<br>
  <input type="text" name="contact"><br><br>
  Create Username:<br>
  <input type="text" name="Create Username"><br><br>
  Password:<br>
  <input type="password" name="Password"><br><br>

  <input type="submit" value="Submit">
</form>
